			.main_content {
				font: 10px arial;
			}

			#second_content {
				color: orange;
				font: 10px arial;
			}
			
			h1, h2, h3{
				color: blue;
				font: Helvetica
			}
			
			ol li{
				color: red;
			}
			
			a:hover{
				color: red;
			}
			p:first-letter{
				color: brown;
				font: 30px verdana;
			}